@import './mixin/breakpoints';
@import 'vars';

* {
  font-family: Gotham Pro, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: $mainColor;
  @include sm-desktop {
    font-size: 24px;
  }
  @include tablet {
    font-size: 18px;
  }
}

.descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $mainColor;
  @inclute tablet {
    font-size: 14px;
  }
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
  @include sm-desktop {
    max-width: 1270px;
  }
  @include tablet {
    max-width: 768px;
  }
}
