@import 'mixin/breakpoints';

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  @include sm-desktop {
    font-size: 24px;
  }
  @include tablet {
    font-size: 18px;
  }
}

.descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  @include tablet {
    font-size: 16px;
  }
}

* {
  font-family: Gotham Pro;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
  @include sm-desktop {
    max-width: 1170px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include mobile {
    max-width: 375px;
  }
}
