$mainColor: #1a1a1a;
$white: #ffffff;
$bgColor: #121212;
$bgColorErgonomic: #09101c;
$borderColor: #979797;
$black: #000000;
$backGroundNozzle: #181b34;
$backGroundNozzleItem: #111325;
$backGroundNozzlesDescr: #15182e;
$backgroundBattery: #6f5541;
