.power {
  margin-top: 150px;
  @include tablet {
    margin-top: 120px;
  }
  @include backgrounds-img(url('../../img/power-bg.jpeg'));
  @include big-mobile {
    @include backgrounds-img(url('../../img/power-bg-375.jpeg'));
  }
  height: 100vh;
  @include tablet {
    height: 364px;
  }
  @include big-mobile {
    height: 626px;
  }
  &__wrapper {
    position: relative;
    height: 100vh;
    @include tablet {
      height: 364px;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include big-mobile {
      top: 205%;
    }
  }
  &__title {
    padding-left: 40px;
    max-width: 520px;
    @include tablet {
      max-width: 285px;
      padding: 0;
    }
  }
  &__list {
    margin: 20px 0 0 60px;
    max-width: 452px;
    @include big-mobile {
      margin: 10px 0 0 20px;
    }
  }
  &__item {
    @include tablet {
      font-size: 12px;
    }
  }
  &__item span {
    font-weight: bold;
    display: inline-block;
    @include tablet {
      font-size: 12px;
    }
    @include big-mobile {
      display: block;
    }
  }
}
