.charge {
  @include backgrounds-img(url("../../img/charge-bg.jpeg"));
  height: 100vh;
  @include sm-desktop {
    height: 711px;
  }
  @include tablet {
    height: 379px;
  }
  @include big-mobile {
    background-image: unset;
    height: unset;
    background-color: $backgroundCharge;
    padding-top: 50px;
  }

  &__wrapper {
    position: relative;
    height: 100vh;
    @include sm-desktop {
      height: 711px;
    }
    @include tablet {
      height: 379px;
    }
    @include big-mobile {
      height: unset;
      position: static;
    }
  }

  &__text {
    max-width: 740px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include tablet {
      max-width: 360px;
    }
    @include big-mobile {
      position: static;
      transform: unset;
    }
  }

  &__title {
    color: $white;
    max-width: 724px;
  }

  &__descr {
    margin-top: 25px;
    color: $white;
    @include big-mobile {
      max-width: 343px;
    }
  }

  &__img {
    display: none;
    @include big-mobile {
      display: block;
      width: 100%;
      max-width: 565px;
      height: auto;
      margin-top: 88px;
    }
  }
}
