.complect {
  padding: 100px 0;
  @include sm-desktop {
    padding: 70px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    @include big-mobile {
      flex-direction: column;
    }
  }

  &__descr {
    margin-top: 20px;
    max-width: 740px;
    @include tablet {
      max-width: 330px;
    }
    @include big-mobile {
      max-width: 343px;
    }
  }

  &__img {
    display: block;
    max-width: 779px;
    width: 50%;
    height: auto;
    @include big-mobile {
      width: 100%;
      max-width: 375px;
      margin-top: 50px;
    }
  }
}
