.gym {
  @include backgrounds-img(url("../../img/gym-bg.jpeg"));
  height: 100vh;
  @include tablet {
    height: 389px;
  }
  @include big-mobile {
    background-image: unset;
    background-color: #6f5541;
    height: unset;
    padding-bottom: 20px;
  }

  &__wrapper {
    position: relative;
    height: 100vh;
    @include tablet {
      height: 389px;
    }
    @include big-mobile {
      height: unset;
    }
  }

  &__content {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 51%;
    @include tablet {
      transform: unset;
      position: static;
      padding-top: 43px;
      max-width: 429px;
    }
    @include big-mobile {
      top: unset;
      bottom: 0;
    }
    @include mobile {
      position: static;
      transform: unset;
      padding-top: 50px;
    }
  }

  &__title {
    color: $white;
    max-width: 799px;
  }

  &__descr {
    color: $white;
    max-width: 740px;
    margin-top: 20px;
    @include tablet {
      max-width: 360px;
      margin-top: 15px;
    }
  }

  &__img {
    display: none;
    @include big-mobile {
      display: block;
      margin-top: 30px;
    }
  }
}
