.hero {
  @include backgrounds-img(url('../../img/hero-bg.jpeg'));
  height: 100vh;
  @include sm-desktop {
    width: 100%;
    max-width: 1440px;
    height: auto;
  }
  @include tablet {
    max-width: 768px;
  }
  @include big-mobile {
    @include backgrounds-img(url('../../img/hero-375.jpeg'));
    max-width: 414px;
  }
  &__wrapper {
    position: relative;
    height: 100vh;
    @include sm-desktop {
      height: 683px;
    }
    @include tablet {
      height: 364px;
    }
    @include big-mobile {
      height: 560px;
      position: static;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    @include big-mobile {
      left: 0;
      top: 0;
      position: static;
      transform: unset;
      text-align: center;
      padding-top: 60px;
    }
  }
  &__subtitle {
    @include sm-desktop {
      font-size: 16px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    color: $black;
    margin: 0;
    @include sm-desktop {
      font-size: 64px;
    }
    @include tablet {
      font-size: 32px;
    }
    @include big-mobile {
      font-size: 24px;
      max-width: 217px;
      margin: 5px auto 0 auto;
    }
  }
  &__descr {
    margin-top: 20px;
    @include sm-desktop {
      font-size: 16px;
    }
    @include tablet {
      max-width: 360px;
    }
    @include big-mobile {
      max-width: 283px;
      margin: 20px auto 0 auto;
    }
  }
}
