.intellect {
  @include backgrounds-img(url("../../img/intellect-bg.jpeg"));
  height: 100vh;
  @include tablet {
    height: 469px;
  }
  @include big-mobile {
    height: unset;
    background-image: unset;
    background-color: $backgroundIntellect;
    padding: 50px 0;
  }

  &__wrapper {
    position: relative;
    height: 100vh;
    @include tablet {
      height: 469px;
    }
    @include big-mobile {
      position: static;
      height: unset;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    @include big-mobile {
      position: static;
      transform: unset;
    }
  }

  &__title {
    color: $white;
    max-width: 604px;
    @include big-mobile {
      max-width: 343px;
      color: $mainColor;
    }
  }

  &__descr {
    margin-top: 20px;
    color: $white;
    max-width: 645px;
    @include big-mobile {
      max-width: 342px;
      color: $mainColor;
    }
  }

  &__items-wrapper {
    margin-top: 42px;
    display: flex;
    gap: 100px;
    @include tablet {
      margin-top: 20px;
      gap: 0 50px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $white;
    @include tablet {
      font-size: 18px;
    }
    @include big-mobile {
      color: $mainColor;
    }
  }

  &__item-subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $white;
    @include tablet {
      font-size: 12px;
    }
    @include big-mobile {
      color: $mainColor;
    }
  }

  &__img {
    display: none;
    @include big-mobile {
      display: block;
      width: 100%;
      max-width: 768px;
      height: auto;
      margin-top: 42px;
    }
  }
}
