.modes {
  margin-top: 150px;
  @include tablet {
    margin-top: 120px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include big-mobile {
      flex-direction: column-reverse;
    }
  }
  &__descr-title {
    color: $mainColor;
    text-align: center;
  }
  &__descr-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    @include tablet {
      grid-column-gap: 40px;
      margin-top: 10px;
    }
  }
  &__descr-item {
    line-height: 200%;
  }
  &__img {
    width: 50%;
    max-width: 398px;
    height: auto;
    @include sm-desktop {
      max-width: 308px;
    }
    @include tablet {
      max-width: 208px;
    }
    @include big-mobile {
      width: unset;
    }
  }
}
