.weight {
  margin-top: 150px;
  @include big-mobile {
    margin-top: 120px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    @include big-mobile {
      flex-direction: column-reverse;
      align-items: unset;
    }
  }
  &__items-text {
    max-width: 464px;
    margin: 0 auto;
    padding-left: 10px;
    @include tablet {
      max-width: 262px;
    }
    @include big-mobile {
      margin: 20px 0 0 0;
      padding: 0;
    }
  }
  &__items-descr {
    margin-top: 20px;
  }
  &__img {
    width: 50%;
    max-width: 820px;
    height: auto;
    @include big-mobile {
      width: 100%;
    }
  }
}
