.weight {
  margin-top: 150px;
  @include tablet {
    margin-top: 120px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    @include big-mobile {
      flex-direction: column-reverse;
    }
  }
  &__items-title {
    color: $mainColor;
    padding-left: 110px;
    padding-right: 158px;
    @include sm-desktop {
      padding-right: 134px;
    }
    @include tablet {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include small {
      padding: 0 20px;
    }
    @include big-mobile {
      padding: 20px 0 0 0;
      text-align: center;
    }
  }
  &__img {
    width: 50%;
    max-width: 820px;
    height: auto;
    @include sm-desktop {
      max-width: 610px;
    }
    @include tablet {
      max-width: 360px;
    }
    @include big-mobile {
      width: unset;
    }
  }
}
