.benefits {
  padding: 150px 0;
  @include middle {
    padding: 120px 0;
  }
  @include big-mobile {
    padding: 74px 0 120px 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    max-width: fit-content;
    margin: 0 auto;
    @include middle {
      grid-column-gap: 10px;
      grid-row-gap: 60px;
    }
    @include big-mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 50px;
    }
  }
  &__item {
    text-align: center;
  }
  &__item-descr {
    margin-top: 25px;
    color: $mainColor;
  }
  &__item-img {
    @include small {
      height: 100px;
      width: 100px;
    }
  }
}
