.size {
  margin-top: 150px;
  @include tablet {
    margin-top: 120px;
  }
  @include backgrounds-img(url('../../img/size-bg.jpeg'));
  @include big-mobile {
    @include backgrounds-img(url('../../img/size-375.jpeg'));
  }
  height: 100vh;
  &__wrapper {
    position: relative;
    height: 100vh;
    @include big-mobile {
      height: unset;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include big-mobile {
      position: static;
      transform: unset;
      padding-top: 60px;
    }
  }
  &__title {
    color: $white;
    margin-left: 40px;
    max-width: 520px;
    @include sm-desktop {
      margin-left: 20px;
    }
    @include tablet {
      max-width: 201px;
    }
    @include big-mobile {
      margin: 0 auto;
      text-align: center;
    }
  }
  &__list {
    color: $white;
    margin: 20px 0 0 60px;
    @include sm-desktop {
      margin: 10px 0 0 40px;
    }
    @include big-mobile {
      margin: 10px 0 0 0;
      padding-left: 25%;
    }
  }
  &__item span {
    font-weight: bold;
  }
}
