.design {
  height: 100vh;
  background-color: $black;
  position: relative;
  @include tablet {
    height: 408px;
  }
  @include small-tablet {
    height: 680px;
  }

  &__content {
    position: relative;
    height: 100vh;
    @include tablet {
      height: 408px;
    }
    @include small-tablet {
      height: 680px;
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include small-tablet {
      top: 30%;
    }
  }

  &__title {
    color: $white;
  }

  &__descr {
    color: $white;
    margin-top: 20px;
    max-width: 608px;
    @include tablet {
      margin-top: 15px;
      max-width: 353px;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 60px;
    gap: 0 70px;
    @include tablet {
      gap: 0 40px;
      margin-top: 79px;
    }
    @include mobile {
      margin-top: 22px;
    }
  }

  &__item-descr {
    color: $white;
    margin-top: 10px;
    max-width: 116px;
    text-align: center;
    font-size: 14px;
    @include tablet {
      font-size: 12px;
      max-width: 99px;
    }
  }

  &__item-img {
    display: block;
    max-width: 61px;
    margin: 0 auto;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 65%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 1505px;
    height: auto;
    @include sm-desktop {
      max-width: 992px;
      left: 70%;
      top: 5%;
    }
    @include tablet {
      width: 100%;
      max-width: 550px;
      top: 2%;
      left: 60%;
    }
    @include small-tablet {
      top: unset;
      bottom: 0;
      left: 50%;
    }
  }
}
