.ergonomic {
  padding-top: 105px;
  background-color: $bgColorErgonomic;
  text-align: center;
  position: relative;
  color: $white;
  @include tablet {
    padding-top: 25px;
  }
  @include mobile {
    padding-top: 51px;
  }

  &__title {
    color: $white;
    @include mobile {
      text-align: left;
    }
  }

  &__descr {
    color: $white;
    max-width: 728px;
    text-align: center;
    margin: 20px auto 0 auto;
    @include tablet {
      max-width: 456px;
      margin: 10px auto 0 auto;
    }
    @include mobile {
      text-align: left;
    }
  }

  &__inner {
    margin-top: 60px;
    display: flex;
    gap: 0 100px;
    align-items: center;
    justify-content: center;
    padding-bottom: 779px;
    @include tablet {
      margin-top: 36px;
      justify-content: space-around;
      gap: 0;
      padding-bottom: 500px;
    }
    @include big-mobile {
      flex-wrap: wrap;
      justify-content: left;
      gap: 25px 0;
    }
    @include mobile {
      justify-content: left;
      gap: 25px 100px;
      padding-bottom: 337px;
    }
  }

  &__item {
    max-width: 185px;

    @include mobile {
      &:nth-child(1) {
        max-width: 90px;
      }
      &:nth-child(2) {
        max-width: 91px;
      }
    }
  }

  &__item-descr {
    font-weight: 400;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    @include mobile {
      font-size: 12px;
      text-align: left;
    }
  }

  &__item-img {
    @include mobile {
      display: block;
    }
  }

  &__img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1137px;
    height: auto;
    @include tablet {
      max-width: 702px;
    }
    @include big-mobile {
      top: unset;
      bottom: 0;
    }
    @include mobile {
      bottom: -10%;
      max-width: 357px;
    }
  }
}
